*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button{
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    position: relative;
}

/* TOPBAR */
.topbar{
    width: calc(100% - 200px);
    margin-left: 200px;
    background-color: #080b12;
    opacity: 0.8;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.col-100{
    width: calc(200px - 20px);
    margin: 10px;
}

button{
    border-radius: 20px;
    background-color: transparent;
    font-size: 10px;
    color: white;
    padding: 10px 28px;
    margin: 10px 0 15px 0;
    border-color: white;
}

button:hover{
    transform: scale(1.2);
}
/* END TOPBAR */
/* SIDEBAR */
.sidebar{
    width: 200px;
    height: 89vh;
    justify-content: space-between;
    background-color: black;
    position: absolute;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.col-60{
    width: 100%;
}

.col-10{
    width: calc(100% - 20px);
    margin: 10px;
} 

 .col-12{
    width: calc(100% - 20px);
    margin: 10px 10px;
}

.col-12 img{
    width: 120px;
    display: block;
}

#small{
    display: none;
}

.content span{
    color: gray;
    margin-left: 5px;
}

.content span:hover, .col-14 span:hover, .col-15 .content:hover, .col-10 span:hover{
    color: white;
}

.content h4{
    font-size: 12px;
    color: white;
}

.fa-plus{
    font-size: 20px;
    margin-top: 5px;
    padding: 6px;
    background-color: #a3a3a3;
}

.fa-plus:hover{
    background-color: white;
}

.col-14{
    width: calc(100% - 20px);
    margin: 20px 15px;
}

.col-14 img{
    width: 25px;
    vertical-align: middle;
}

.col-14 span{
    font-size: 15px;
    vertical-align: middle;
    color: #a3a3a3;
}

.col-14 div{
    margin-top: 15px;
}

.col-14 .top-5{
    margin-top: 10px;
}

.content #middle{
    width: 1px;
    height: 20px;
    margin-left: -15px;
}

span #home{
    margin-left: -3px;
}

span #middle, span #home{
    float: left;
}

.col-15{
    width: calc(100% - 20px);
    height: 24vh;
    overflow-y: auto;
    margin: 20px 10px;
} 

.col-15 .content{
    color: #a3a3a3;
    font-size: 13px;
    margin-bottom: 10px;
}

div img{
    width: 17px;
    color: #a3a3a3;
    vertical-align: middle;
}

#margin{
    margin: 0 5px 0 0;
}

div span{
    font-size: 13px;
    color: #a3a3a3;
}

div img, div hr{
    opacity: 0.7;
}

div hr{
    margin-top: 5px;
    border-radius: 10px;
    width: 180px;
}

.border{
    vertical-align: middle;
    margin: 10px 10px 0 5px;
}

.border img{
    background-color: #a3a3a3;
    opacity: 1;
    border-radius: 50%;
    width: 20px;
}

.border span{
    color: white;
    font-size: 15px;
    margin-left: 5px;
}
/* END SIDEBAR */
/* MAIN */
.main{
    background-color: #141922;
    width: calc(100% - 200px);
    margin-left: 200px;
    flex-wrap: wrap;
}

.col-20{
    width: calc(60% - 20px);
    margin: 100px auto 20px;
}


.col-20 li{
    padding: 10px;
    color: #a3a3a3;
    font-size: 12px;
    list-style-type: none;
}

ul li{
    float: left;
}

.flex{
    display: flex;
}

#m-left{
    margin-top: 20px;
    margin-left: 120px;
}

#middle{
    width: 20px;
    margin-left: 25px;
    border: 1px solid #adff2f;
}

.col-20 li:hover{
    color: white;
}

.col-5{
    width: calc(20% - 20px);
    margin: 5px 10px 20px;
}

.col-5 h2, .col-8 h2, .col-40 h2{
    color: white;
    font-size: 25px;
}

.col-8{
    width: calc(27% - 20px);
    margin: 5px 10px 10px;
}

.col-95{
    width: calc(100% / 6 - 21px);
    margin: 0 auto 20px;
}

.col-95 img, .col-40 img{
    width: calc(100%);
    margin: 0 15px 10px 0;
}

.col-95 h5, .col-40 h5{
    font-size: 13px;
    margin-bottom: 5px;
    color: white;
}

.col-95 .sub{
    font-size: 12px;
    color: #a3a3a3;
}

.col-95 h5, .sub, .col-40 h5{
    text-align: center;
}

.col-40{
    width: calc(33% / 2 - 20px);
    margin: 5px 10px 10px;
}

.col-8 div{
    color: #a3a3a3;
    font-size: 13px;
    margin-top: 5px;
}

#width{
    margin-bottom: 20px;
}

#width-1{
    margin-bottom: 120px;
}

#width-1 img{
    border-radius: 50%;
}
/* END MAIN */
/* BOTTOMBAR */
.bottombar{
    width: 100%;
    background-color: #282828;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.col-25{
    width: calc(230px - 20px);
    margin: 10px;
}

.col-27{
    width: calc(260px - 20px);
    margin: 10px;
}

.col-50{
    width: calc(40% - 20px);
    margin: 10px;
}

.left, .center, .right, .sound{
    float: left;
    color: #a3a3a3;
}

 .bar{
    display:flex;
}

.left img{
    width: 40px;
    margin: 15px 0 10px 0;
}

.center div, .center a{
    font-size: 11px;
    color: #a3a3a3;
    margin-left: 15px;
    margin-right: 30px;
}

.center a{
    text-decoration: none;
    font-size: 9px;
}

.center a:hover{
    text-decoration: underline;
}

#color{
    color: white;
    margin: 20px 30px 0 15px;
}

.right, .bottom{
    display: flex;
    flex-direction: row;
    margin: 25px 5px 0 0;
    color: #a3a3a3;
}

.right:hover , .bottom:hover{
    color: white;
}

.left .fa-list-ul{
    margin: 25px 5px 0 60px;
    color: #a3a3a3;
}

.left .fa-tv, .fa-volume-high, .bar{
    margin: 25px 5px 0 5px;
    color: #a3a3a3;
}

.fa-volume-high{
    margin-right: 10px;
}

.bar{
    width: 110px;
    height: 5px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #5a5a5a;
}

.enter{
    width: 30px;
    height: 5px;
    border-radius: 20px;
    background-color: #a3a3a3;
}

.double{
    width: 6px;
    height: 7px;
    background-color: transparent;
    margin-left: 28px;
    border-radius: 50%;
}

.icons{
    float: left;
    font-size: 18px;
    padding-left: 15px;
    vertical-align: middle;
    color:#a3a3a3;
    margin-top: 10px;
}

.play{
   font-size: 25px;
   padding-left: 15px;
   color: white;
   margin-top: 5px;
}

.play:hover{
    transform: scale(1.2);
}

.col-50 .start{
    display: flex;
    justify-content: center;
}


.volume{
    display: flex;
}

.time, .time-1{
    color: white;
    font-size: 13px;
    margin: 10px auto;
}

.line{
    width: 400px;
    height: 5px;
    border-radius: 20px;
    background-color: #5a5a5a;
    margin: 10px;
}

.time{
    margin-top: 5px;
}

.line-enter{
    width: 80px;
    height: 5px;
    border-radius: 20px;
    background-color: #a3a3a3;
}

.after{
    width: 8px;
    height: 7px;
    background-color: transparent;
    margin-left: 75px;
    border-radius: 50%;
}

.enter:hover, .line-enter:hover{
    background-color: #adff2f;
}

.double:hover, .after:hover{
    background-color: white;
}
/* END BOTTOMBAR */
/* MEDIA QUERY */
/* MOBILE */
@media screen and (max-width:500px){
    .topbar{
        width: calc(100% - 50px);
        margin-left: 50px;
    }

    .sidebar{
        width: 50px;
        height: 86vh;
    }

    .main{
        width: calc(100% - 50px);
        margin-left: 50px;
    }

    .col-60{
        height: 150px;
    }

    .col-10{
        height: 70px;
    }

    .col-12, .col-14, .col-15{
        height: 30px;
        margin: 5px 10px;
    }

    .col-12 img, .col-12 h4, .col-12 span, .col-10 span{
        display: none;
    }

    .fa-plus{
        display: none;
    }

    #small{
        display: block;
        width: 30px;
    }

    .col-14 img{
        display: block;
    }

    .col-14 span{
        display: none;
    }

    .col-15{
        display: none;
    }

    .col-40{
        width: calc(100% - 40px);
    }
}
/* S-MOBILE */
@media screen and (min-width:501) and (max-width:650px){

    .col-20{
        width: calc(40% - 20px);
    }

    .col-95{
        width: calc(100% / 4 - 20px);
    }

    .col-40{
        width: calc(100% / 2 - 20px);
    }

    .col-27{
        width: 230px;
    }

    .bar{
        width: 50%;
    }

    .left .fa-list-ul{
        margin: 25px 5px 0 0;
        color: #a3a3a3;
    }
}

/* TABLET */
@media screen and (max-width:768px){
    .col-15{
        height: 28vh;        
    } 

    .col-20{
        width: calc(100% - 20px);
    }

    .col-5{
        width: calc(50% - 20px);
    }

    .col-8{
        width: calc(60% - 20px);
    }

    .col-95{
        width: calc(100% / 4 - 20px);
    }

    .col-40{
        width: calc(50% / 2 - 20px);
    }

}