*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    position: relative;
}

.topbar{
    width: calc(100% - 200px);
    height: 100px;
    margin-left: 200px;
    background-color: #080b12;
}

.sidebar{
    width: 200px;
    height: 600px;
    background-color: black;
    position: absolute;
}

.main{
    width: calc(100vw - 200px);
    height: 600px;
    margin-left: 200px;
    background-color: red;
    position: absolute;
    position: relative;
}

.bottombar{
    width: 100%;
    height: 100px;
    background-color: aqua;
    position: absolute;
}